#logo-navbar {
	height: 50px;
	width: 50px;
}

.navbar-inverse {
    background-color: #0A122A;
    border-color: #080808;
}

body {
	background-color: #EBEBEB;
}

.btn-group-lg>.btn, .btn-lg {
	padding: 30px 16px;
}

.navbar-brand {
	font-size: 36px;
	font-weight: bold;
}

.img-responsive {
	height: 300px;
	width: auto;
}

.revprodlist>form>input {
	height: 160px;
	width: auto; 
}



/* // extra styles
:root {
  font-size: 2em;
  font-family: Helvetica, arial, sans-serif;
}

fieldset {
  border: 0;
  background: #222;
  width: 5em;
  border-radius: 1px;
  padding: 1em 1.5em 0.9em;
  margin: 1em auto;
}
#log {
  margin: 1em auto;
  width: 5em;
  text-align: center;
  background: transparent;
}
h1 {
  text-align: center;
}
 */



/* div.transbox {
  margin: 25px;
  background-color: #ffffff;
  
  opacity: 0.6;
  filter: alpha(opacity=60); For IE8 and earlier
}

div.transbox h2 {
  margin: 2%;
  font-weight: bold;
  color: #A30000;
} */
